@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 23, 27, 33;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #111827;
}
